@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;

}
body {
    background: rgb(240, 240, 240);
    width: 100%;
}

h2, h3, p {
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
}

header {
    height: 100px;
    background: #C8102E;
    position: sticky; 
    top: 0;
    z-index: 2;
}
header img {
    float: left;
    height: 80%;
    margin-left: 40px;
    margin-top: 5px;

}
#menu {
    letter-spacing: 4px;
}
#menu, img {
    line-height: 75px;
}
#menu li{
    float: right;
    padding: 10px;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#active {
   border-bottom: 1px solid #F6EB61;
}

    /* Article */
    article {
        position: relative;
        width: 90%;
        margin: auto;
        text-align: center;

    }
        article > img {
            width: 100%;
            height: auto;
        }
       
        .article-image-text {
            color: rgb(255, 255, 255);
            font-weight: 400;
            font-size: 6rem;
            position: absolute;
            top: 700px;
        }
        article h3 {
            padding-top: 2.5%;
            padding-bottom: 2.5%;
            font-size: 2.2rem;
            color: rgb(12, 12, 12);
        }

        article p {
            color: rgb(12, 12, 12);
            font-size: 150%;
            width: 50%;
            margin: auto;
        
        }

        .images {
            width: 100%;
        }
        .article-link{
            color: #C8102E;
            font-size: large;
            text-decoration: none;

            
        }
    
    /* Footer */

       footer {
        background-color: #3a3a3a;
        text-align: center;
    }
    #social-links {
        padding-bottom: 20px;
    }
    #social-links li {
        display: inline;
    }
    
    #social-links i {
        font-size: 250%;
         margin: 2%; 
        color: #aaaaaa;
    }
    
    #social-links i:hover {
        color: #ffffff;
    }
    
    .newsletter-link:hover {
        color: #ffffff;
    }
    
    footer a{
        font-size: 100%;
        color: #aaaaaa;
        margin-bottom: 40px;
    }


    @media screen and (max-width:650px) {

        /* HEADER */
    
    
        header img {
            float: left;
            height: 80%;
            margin-left: 5%;
            margin-top: 5px;
    
        }
        #menu {
            letter-spacing: 0px;
            font-size: 1rem;
        }
    
        #menu li {
            margin: 0px;
        }


        .article-image-text {
            display: none;
        }

        article > img {
            height: auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        article h3 {
            font-size: 1.2rem;
        }

        article p {
            width: 90%;
            font-family: Roboto, sans-serif;
        }
        }