*{
    margin: 0;
    padding: 0;

}

header {
    height: 100px;
    background: #C8102E;
}
header img {
    float: left;
    height: 80%;
    margin-left: 40px;
    margin-top: 5px;

}
#menu {
    letter-spacing: 4px;
}
#menu, img {
    line-height: 75px;
}
#menu li{
    float: right;
    padding: 10px;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#active {
   border-bottom: 1px solid #F6EB61;
}

/* ARTICLE SECTION */

section > h1 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 50px;
}

#article-section {
    width: 50%;
    margin: auto;
}

article {
    border: 2px solid green;
}
article img {
    width: 100%;
}

article p {
    margin-bottom: 100px;
}

article a {
    text-decoration: none;
}

